# You will be prompted for initial .gitignore template (to use) when creating repo
# collection of starter .gitignore files offered for various platforms - https://github.com/github/gitignore

#
# from https://learn.microsoft.com/en-us/training/modules/maintain-secure-repository-github/2-how-to-maintain-secure-repository